@media only screen and (max-width:1200px) {
}

*{
  box-sizing: border-box;
  font-family: monospace; 
}

#navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(47, 140, 222);
  height: 100px;
  justify-content: flex-end;
  font-weight: 500;
  text-align: right;
  padding-top: 0.75%;
}

#navBar h1 {
  width: 30%;
  font-weight: 500;
  text-align: right;
  padding-top: 0.75%;
  position: absolute;
  left: 0%;
  height: 5%;
  padding-right: 0.75%;
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  border: 4px;
  border-color: black;
  border-style: solid;
  text-align: right;
  position: absolute;
  right: 0%;
  height: 5%;
  padding-right: 0.75%; 
}

nav a {
border-radius: 15%;
font-size: 17.5px;
color: black;
padding: 1%;
}

#navigation p {
  cursor: pointer;
  text-decoration: none;
}

.hero-banner{
  display: flex;
  background-image:url(../images/Background\ 4.png) ;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  text-align: right;
  justify-content: space-between;
  align-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  border: 4px;
 border-color: black;
 border-style: solid;
}

#dp {
width: auto;
height: 80%;
margin-left: 1%;
border-radius: 10%;
border: 4px;
border-color: black;
border-style: solid;
}

/*----------------------------------------------------------*/

body {
   margin: 0;
   padding: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   line-height: 1.5;
   background-image: linear-gradient(rgb(57, 127, 232),rgb(11, 16, 123));
}

h1 {
  color: rgb(255, 255, 255);
  border: 4px;
  border-color: black;
  border-style: solid;
}

.hero-banner h2{
 margin-right: 50%;
 background-color: rgb(200, 165, 51);
 border-radius: 10%;
 text-align: center;
 border: 4px;
 border-color: black;
 border-style: solid;
}

#aboutmegrid{
margin: 5%;
margin-top: 5%;
display: grid;
height: 90%;
grid-template-rows: 100%;
grid-template-columns: 25% 75%;
grid-template-areas: 
"title area" ;
}

#aboutmetitle{
grid-area: title;
}

#aboutmetext{
  grid-area: area;
}

  .title{
 color: rgb(255, 255, 255);
 border: 4px;
 border-color: black;
 border-style: solid;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 15%;
 padding-right: 0.5%;
 position: absolute;
 left: 0%;
 height: 7.5%;
 width: 25%;
  }

  .title h2{
    font-size: 150%;
    font-weight: 500;
  }

#aboutmetext p{
  font-size: 100%;
  color: rgb(255, 255, 255);
}

#workgrid{
 height: 650px;
 display: grid;
 margin: 5%;
 margin-top: 5%;
 grid-template-rows: 50% 25% 25%;
 grid-template-columns: 35 30% 35%;
 grid-template-areas: 
 "title WorkImage1 WorkImage1"
 "title WorkImage2 WorkImage3"
 "title WorkImage4 WorkImage5"
;
}

#worktitle{
grid-area: title ;
}

.WorkImage{
  background-position: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4px;
  border: 4px;
  border-style: solid;
  border-color: black;
  display: grid;
}

#WorkImage1{
grid-area: WorkImage1;
background-image: url(https://placehold.co/1240x370/000000/FFFFFF/png);
}

#WorkImage2{
  grid-area: WorkImage2;
  background-image: url(https://placehold.co/616x155/000000/FFFFFF/png);
  }

#WorkImage3{
   grid-area: WorkImage3;
   background-image: url(https://placehold.co/616x155/000000/FFFFFF/png);
   }

#WorkImage4{
grid-area: WorkImage4;
background-image: url(https://placehold.co/616x155/000000/FFFFFF/png);
}

#WorkImage5{
grid-area: WorkImage5;
background-image: url(https://placehold.co/616x155/000000/FFFFFF/png);
}

#contactmegrid{
  margin: 5%;
  margin-top: 5%;
  display: grid;
  height: 90%;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  "title area" ;
  }
  
  #contactmetitle{
  grid-area: title;
  }
  
  #contactmetext{
     grid-area: area;
     }

  #contactmetext a{
    font-weight: 200;
    font-size: 150%;
    text-align: center;
    margin-left: 25%;
    color: rgb(255, 255, 255);
      }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
